/* 
 This CSS file is used to override the existing styles of the theme.
 You can change the article headings, fonts, colors, etc.
*/

@media (max-width: 768px) {
    .swiper-slide img, .slide-wrap img {
      height: 25vh; /* Adjust the height for mobile devices */
    }
  }
  
  .swiper-wrapper img {
    width: 100%;
    height: 85vh;
    object-fit: contain;
  }
  .active {
    display: block !important;
  }
  .slide-wrap img {
    width: 100%;
    height: 85vh;
    object-fit: cover;
  }
  .slide-class {
    margin: 0 auto;
  }
  .animation-slide {
    position: relative;
  }
  